
body {
    background-color: red;
}

body{
    font-family: Arial, sans-serif;
    margin:0;
    background-color:#f4f4f4;
    color:#222;
}

header{
    background-color:#333;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    background-color:#444;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

nav a:hover{
    color:lightblue;
}

main{
    width:90%;
    margin:auto;
    padding:20px;
}

section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
}

h1{
    margin:0;
}

h2{
    color:#333;
}

img{
    width:70%;
    max-width:700px;
    display:block;
    margin:20px auto;
    border-radius:8px;
}

pre{
    background:#222;
    color:white;
    padding:15px;
    border-radius:8px;
    overflow-x:auto;
}

.lab-links{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    background:#eee;
    padding:15px;
    width:250px;
    border-radius:8px;
}

.card a{
    text-decoration:none;
    font-weight:bold;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}

img {
    width: 650px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

section {
    margin-bottom: 40px;
}

p {
    line-height: 1.7;
}